body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; /* Black background */
    color: white; /* White text */
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
  }
  
  /* Donor Registration Navigation */
  .need-blood-registration-nav {
    display: flex;
    justify-content: left;
    background-color: #111; /* Dark background */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .need-blood-nav-item {
    text-decoration: none;
    color: white; /* White text */
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  .need-blood-nav-item.active {
    background-color: #333; /* Slightly lighter dark for active item */
  }
  
  /* Need Blood Form */
  .need-blood-form {
    background-color: #222; /* Darker background */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* White shadow */
  }
  
  .join-need-blood-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto 20px auto;
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white; /* White label text */
  }
  
  .form-group input,
  .form-group select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #555; /* Darker border */
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #333; /* Dark input background */
    color: white; /* White input text */
  }
  
  .btn-danger {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0 auto;
  }
  
  /* Heading */
  h1.text-center {
    text-align: center;
    margin-bottom: 20px;
    color: red; /* Red heading text */
  }